@import '../../variables';

.push-menu {
  position: fixed;
  padding: 40px;
  width: $nav-offset + 10;
  height: 100%;
  background-color: $color-grey;
  box-shadow: 0 0 30px rgba($color-black, 0.1);
  transition: all 0.5s;
  transform: translateX(-$nav-offset);
  z-index: 1;

  .no-js & {
    position: relative;
    transform: translateX(0);
    width: 100%;
  }
}

.push-menu--is-open {
  .push-menu__toggle::before {
    transform: rotate(-45deg);
  }
}

/**
 * List
 */

.push-menu__list {
  width: 100%;
  max-height: 100%;
  background-color: $color-grey;
  overflow-y: auto;
}

.push-menu__list-item {
  border-top: 1px solid rgba($color-white, 0.2);

  &:last-of-type {
    border-bottom: 1px solid rgba($color-white, 0.2);
  }
}

.push-menu__list-item--back {
  background-color: $color-red;
}


/**
 * Link
 */

.push-menu__link {
  display: block;
  padding: 30px;
  font-size: 18px;
  font-family: $font-family-heading;
  color: $color-white;
  text-decoration: none;
  transition: all 0.3s;
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
  text-align: left;

  &:hover,
  &:focus {
    padding-left: 35px;
    box-shadow: 0px -1px 0 inset rgba($color-white, 0.2);
  }
}

.push-menu__link-arrow {
  margin-right: 10px;
}

/**
 * Sub Nav
 */

.push-menu__list--sub {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: $nav-offset;
  background-color: $color-white;
  transform: translateX(-$nav-offset);
  transition: all 0.5s;

  .push-menu__link {
    color: $color-red;
  }

  .push-menu__list-item {
    border-top: 1px solid rgba($color-red, 0.2);

    &:last-of-type {
      border-bottom: 1px solid rgba($color-red, 0.2);
    }
  }

  &.is-open {
    transform: translateX(0px);
  }

  .no-js & {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(0px);

    .push-menu__link {
      padding-left: 50px;

      &:hover,
      &:focus {
        padding-left: 65px;
      }
    }
  }
}

.push-menu__list-item--back {
  .push-menu__link {
    color: $color-white;
  }

  .no-js & {
    display: none;
  }
}

/**
 * Toggle
 */

.push-menu__toggle {
  position: absolute;
  top: 20px;
  right: -40px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  background-color: $color-white;
  border: none;
  overflow: hidden;
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.2);

  &::before {
    content: '\271A';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    color: $color-red;
    line-height: 40px;
    transition: all 0.5s ease-in;
  }

  &:hover,
  &:focus {
    cursor: pointer;

    &::before {
      color: darken($color-red, 10%);
    }
  }

  .no-js & {
    display: none;
  }
}

.push-menu__toggle-text {
  position: absolute;
  top: -999rem;
}
