$color-white: #FFFFFF;
$color-grey: #393939;
$color-black: #000000;
$color-peach: #ffe7ce;
$color-red: #f95759;

$font-family-heading: 'Noto Serif SC', serif;
$font-family-body: 'Varela Round', sans-serif;

$nav-offset: 260px;
